@import '_base.scss';

.login {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-image: url(https://static.zhihu.com/heifetz/assets/sign_bg.db29b0fb.png);
    background-repeat: no-repeat;
    background-color: #b8e5f8;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding-right: 15px;
}

.form {
    width: 432px;
    padding: 36px 36px 12px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.logoBox {
    font-size: 55px;
    text-align: center;
    margin-bottom: 10px;
}

.title {
    margin-bottom: 20px;
    color: $gray-color;
    font-size: 22px;
}

.tips {
    display: flex;
    color: $gray-color;
    justify-content: space-around;
    font-size: $font-size-sm;
    margin-top: -20px;
}
